<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="generator" content="kss-node" />

	<title>MediaWiki Living Styleguide</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="public/kss.css">
	<link rel="stylesheet" href="public/style.css">
</head>
<body><div id="kss-wrapper">
	<header id="kss-header">
		<div class="container">
			<hgroup><h1>Mediawiki.UI</h1></hgroup>
		</div>
	</header>

	<div class="container">
		<nav>
			<ul>
				<li><a href="index.html"><span>0.0</span> Overview</a></li>
				{{#eachRoot}}
					<li>
						<a href="section-{{ reference }}.html">
							<span>{{ reference }}.0</span> {{ header }}
						</a>
						<ul>
						{{#eachSection reference}}
							{{#whenDepth  2}}
								<li>
									<a href="section-{{../../reference}}.html#section-{{ reference }}">
										<span>{{ reference }}</span>
										{{ header }}
									</a>
								</li>
							{{/whenDepth}}
						{{/eachSection}}
						</ul>
					</li>
				{{/eachRoot}}
			</ul>
		</nav>

		<div class="content">
			{{#if overview}}
				{{html overview}}
			{{else}}
				{{#eachSection rootNumber}}
				<div>
					{{#whenDepth 1}}
						<h1>{{ reference }}.0 {{ header }}</h1>
					{{else}}
						{{#whenDepth 2}}
						<a name="section-{{ reference }}"></a>
						<h2>{{ reference }} {{ header }}</h2>
						{{/whenDepth}}
						{{#whenDepth 3}}
						<h3>{{ reference }} {{ header }}</h3>
						{{/whenDepth}}
					{{/whenDepth}}
					{{#ifAny markup modifiers}}
							<div>{{html description}}</div>
							<div class="example">
								<pre class="prettyprint lang-html">{{markup}}</pre>
								<blockquote>{{modifierMarkup}}</blockquote>
							</div>
							{{#eachModifier}}
								<h4>{{name}}</h4>
								{{html description}}
								<blockquote>{{modifierMarkup}}</blockquote>
							{{/eachModifier}}
					{{else}}
							{{#if description}}
								{{html description}}
							{{/if}}
					{{/ifAny}}
				</div>
				{{/eachSection}}
			{{/if}}
		</div>
	</div>
</div></body>
</html>
