
/** Media Queries ** END **/
.icons-img
{
    overflow: hidden;
    margin-bottom: 10px;
}
.icons-img img {
    margin-right: 6px !important;
}
.icons-text {
    line-height: 28px !important;
}
.media-notations {
    padding-bottom: 5px !important;
}
.media-notations dd {
    margin-left: 37px !important;
}
.media-notations dl {

    margin-bottom: 10px !important;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}
.scroll-to-top {
    background: rgba(0, 0, 0, 0) url("/images/b/b0/Scroll-to-top.png") no-repeat scroll 0 0;bottom: 25px;display: none;height: 40px;position: fixed;right: 25px;text-indent: -9999px;width: 40px;z-index: 9999;
}
.contentHeader {
    margin-bottom: 4px !important;
}
table.wikitable {
    margin-top: 0px !important;
}

div.coloredTitle {
    color: white;
    border-radius: 2px;
    padding-left: 5px;
    height: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;
}
div.coloredTitle p{
    font-weight: bold;
}
.dynamicPageContent > div.box-with-icon:nth-child(3n+1) {
    clear: both;
}
.box-with-icon {
    padding-bottom: 5px !important;
//  display:inline-block;
//  float: left;
}
.box-with-icon span.icons-text{
    font-weight: bold;
}
.box-with-icon dd {
    margin-left: 37px !important;
}
.box-with-icon dl {
    margin-bottom: 10px !important;
}
div.dynamicPageContent{
    padding-top: 10px;
}
.icon-img {
    width: 30px;
    height: 30px;
}
.toolbar .searchGoButton {
    display: none;
}