/*body {*/
/*font-family: "Open+Sans", sans-serif;*/
/*}*/
@font-face {
    font-family: Montserrat;
    src: url(../fonts/fonts/Montserrat-Regular.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);
.toolbar .searchGoButton {
    display: none;
}

/*** Begin Header ***/
.navbar-header img {
    max-width: 200px;
    padding: 12px 0px 8px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

div.navbar-tools div.dropdown > a,
div.navbar-tools div.dropdown button {
    border: 0px;
    border-radius: 0px;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
}





div.navbar-tools div.dropdown > a,
div.navbar-tools div.dropdown > button.btn {
    font-family: "Open+Sans", sans-serif;
    line-height: 1.2em !important;
}

div.navbar-tools div.dropdown > a,
div.navbar-tools div.dropdown > button a {
    color: #FFFFFF;

}

div.navbar-fixed-top {
    /*background-image: linear-gradient(#0056A2, #004079);*/
    background: rgba(0, 86, 162, 0.9);
}

/*** End Header ***/
div#jump-to-nav,
div#siteSub {
    display: none;
}

div.printfooter {
    display: none;
}

/** Begin Box with Icon **/

div.coloredTitle {
    color: white;
    border-radius: 2px;
    padding-left: 5px;
    height: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;
}

div.coloredTitle p {
    font-weight: bold;
}

div.dynamicPageContent > div.box-with-icon:nth-child(3n+1) {
    clear: both;
}

.box-with-icon {
    padding-bottom: 5px !important;
}

.box-with-icon span.icons-text {
    font-weight: bold;
}

.box-with-icon dd {
    margin-left: 37px !important;
}

.box-with-icon dl {
    margin-bottom: 10px !important;
}

.icon-img {
    width: 30px;
    height: 30px;
}

/** End Box with Icon **/

/** Begin Footer **/
.footer-fixed .footer {
    background: rgba(255, 255, 255, 1) !important;
}

div.footer-inner p.navbar-text {
    margin-top: 5px;
    margin-bottom: 0px;

}

.custom1 {
    position: absolute !important;
    top: -25px !important;
    right: 25px !important;
    z-index: 12000;
}

.floatLeft {
    float: left;
    color: white;
}

.colorWhite {
    color: white;
}

.navbar-tools > ul > li a:hover {
    background: #0B98D6 !important;
}

.navbar-inverse .nav > li > a {
    color: white !important;
}

/* ---------------------------------------------------------------------- */
/*  Search Box
 /* ---------------------------------------------------------------------- */
.search-box:before {
    content: " " !important;
}

.search-box {
    float: right;
}

.search-bar {
    margin: -4px 0 0 0;
    padding: 0 30px 0 5px;

    border-radius: 5px;
    color: #555555;
    position: absolute;
    right: -20px;
    top: 15px;
    min-height: 28px;
    min-width: 28px;
}

.sidebar-search {
    margin: 0;
    padding: 0;
}

/*.input-group input {
    background: #E4E5E6;
}*/
.sidebar-search input {
    background: none;
    border: none;
    width: 130px;
}

.search-bar input:focus {
    box-shadow: none;
}

.sidebar-search .input-group button {
    background: none;
    border: none;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 28px;
}

.search-bar i {
    color: #999999;
}

.search-box .show-search {
    position: absolute;
    right: 15px;
    top: 12px;
    background: #D9D9D9;
    padding: 4px 10px;
    border-radius: 5px;
}

.search-box .show-search:hover {
    text-decoration: none;
}

.search-box .show-search i {
    color: #999999;
}

/*.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    background: #E4E5E6;
}*/

/* Bug fixing */

@media screen {
    .navigation-toggler {
        cursor: pointer;
        height: 30px;
        margin-left: 175px;
        margin-top: 14px !important;
        margin-bottom: 10px;
        width: 30px;
        line-height: 30px;
        text-align: center;
    }
}

ul.main-navigation-menu > li > a:hover {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
}

ul.main-navigation-menu > li > a:hover .clip-screen {
    color: white !important;
}

ul.main-navigation-menu > li > a:hover .icon-arrow {
    color: white !important;
}

.mediawiki {
    overflow-x: hidden;
}

.btn:active {
    background: transparent;
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

/*.navigation-toggler*/
/*height: 30px;*/
/*margin-left: 175px;*/
/*margin-top: 10px;*/
/*margin-bottom: 10px;*/
/*width: 30px;*/
/*line-height: 30px;*/
/*}*/

/*.search-bar {
margin: -4px 57px 0 0 !important;
}
.search-bar {
    transform:translateX(3%) !important;
}*/

.navbar-fixed-top, .navbar-fixed-bottom {
    right: 0;
    left: 0;
}

.backgroundBlue {
    background-color: #1865aa !important;
}

.openSans {
    font-family: Open Sans !important;
}

.sidebar-search .form-group input {
    border: medium none !important;
}

/*div.navbar-tools div.dropdown button {
    border: 0px;
    border-radius: 0px;
    background: transparent;
}*/

.navbar-tools > ul > li:hover {
    padding-bottom: 3px;
}

ul li a:hover {
    text-decoration: none !important;
}

.navbar-tools > ul > li.dropdown:focus {
    background-color: #218AE8 !important;
}

.navbar-tools > ul > li.dropdown:active {
    background-color: #218AE8 !important;
}

.navbar-tools > ul > li.dropdown:visited {
    background-color: #218AE8 !important;
}

.navbar-inverse .nav > li:hover > a, .navbar-inverse .nav > li:active > a {
    background-color: #0B98D6 !important;
}

.navbar-tools > ul > li:hover {
    background-color: #0B98D6 !important;
}

/* ---------------------------------------------------------------------- */
/*  Preferences tabs
 /* ---------------------------------------------------------------------- */
.mw-prefs-form {
    margin-bottom: 15px;
}

#preftoc {

    border-color: #dddddd;
    margin-bottom: 0;
    margin-left: 0;
    position: relative;
    top: 1px;
    padding: 0px;

}

#preftoc:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

#preftoc > li {
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
}

#preftoc > li a {
    display: block;
    padding: 10px 15px;
}

#preftoc > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    border-bottom: 1px solid transparent !important;
}

#preftoc > li.selected > a, #preftoc > li.selected > a:hover, #preftoc > li.selected > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
}

#preftoc > li.selected > a, #preftoc > li.selected > a:hover, #preftoc > li.selected > a:focus {
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #DDDDDD #DDDDDD transparent;
    border-top: 2px solid #DDDDDD;
    color: #333333;
    line-height: 16px;
    margin-top: -1px;
    z-index: 12;
}

#preftoc > li:first-child > a {
    margin-left: 0;
}

#preftoc > li > a:hover {
    background-color: #ffffff !important;
    border-color: #dddddd;
    color: #4c8fbd;
}

#preftoc > li > a, #preftoc > li > a:focus {
    background-color: #f9f9f9 !important;
    border-color: #dddddd;
    border-radius: 0 !important;
    color: #999999;
    line-height: 16px;
    margin-right: -1px;
    position: relative;
}

#preftoc > li.selected > a, #preftoc > li.selected > a:hover, #preftoc > li.selected > a:focus {
    border-color: #c83a2a #dddddd transparent !important;
    border-top: 2px solid #c83a2a !important;
}

#preftoc > li > a:hover {
    color: #c83a2a;
}

#mw-prefs-form #preferences {
    border: 1px solid #dddddd;
    padding: 16px 12px;
    position: relative;
}

.clearfooter {
    clear: both;
    height: 60px;
}

.mw-body {
    margin-bottom: 50px !important;
    margin-left: 20px !important;
}

ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a {
    color: #FFFFFF !important;
    background: #48D0FF !important;
}

ul.main-navigation-menu li > ul.sub-menu > li > a:hover {

    color: #000000 !important;
    background: #F9F9F9 !important;
}

.navigation-toggler {
    font-size: 13px !important;
}

.nav.navbar-nav {
    margin-left: 11px !important;
    margin-top: 2px;
}

body {
    font-family: 'Open Sans' !important;
    font-size: 16px !important;
}

ul.main-navigation-menu > li > a i {
    margin-left: 3px;
}

div.navbar-fixed-top {
    background-image: linear-gradient(#0056a2, #004079) !important;
}

ul.main-navigation-menu li a:hover {
    background-image: linear-gradient(#0056a2, #004079) !important;
}

ul.main-navigation-menu > li.active > a,
ul.main-navigation-menu > li.open > a {
    background-image: linear-gradient(#0056a2, #004079) !important;
    color: #FFFFFF;
}

ul.main-navigation-menu > li.active > a {
    margin-top: 1px;
}

ul.main-navigation-menu > li > a {
    background-image: linear-gradient(#0056a2, #004079) !important;
    color: #FFFFFF;
}

ul.main-navigation-menu > li.open > a i.clip-screen,
ul.main-navigation-menu > li.open > a i.icon-arrow {
    color: #FFFFFF;

}

ul.main-navigation-menu > li.active > a span.selected::before,
ul.main-navigation-menu > li.open > a span.selected::before {
    content: "";
    background: url("/skins/lead/resources/images/arrow.png") right center no-repeat;
}

table, th, td {
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
}

ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a:hover {
    background-color: #48D0FF !important;
    color: #FFF !important;
}

ul li a:hover {
    background-color: #0B9806 !important;
}

ul.main-navigation-menu li > ul.sub-menu > li {
    background-color: #FFF;
}

ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
    background-color: #F9F9F9 !important;
}



ul.main-navigation {
    top: 44px;
}

ul.sub-menu {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*******************************
 * Main Menu
 ******************************/

div.navbar div.navbar-tools ul.nav.navbar-nav {
    margin-top: 0px;
}

ul.nav.navbar-nav li {
    padding: 0px !important;
}

ul.nav.navbar-nav li:hover div.header-menu,
ul.nav.navbar-nav li div.header-menu {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

ul.nav.navbar-nav li ul.dropdown-menu {
    margin-top: 0px;
}

ul.nav.navbar-nav li button#dropdownMenu1 {
    background: transparent;
    background-color: transparent;
}

/*******************************
 * Page footer Links
 ******************************/
div#mw-normal-catlinks a {
    display: inline;
}

div#mw-normal-catlinks ul {
    display: inline;
    padding-left: 0px !important;
}

div#mw-normal-catlinks ul li {
    display: inline;
    padding: 5px;
    list-style-type: none;
}

div#mw-normal-catlinks ul li:hover {
    background: none !important;
}

div#mw-normal-catlinks ul li:hover a {
    background-color: transparent !important;
    text-decoration: underline !important;
}

/*******************************
 * Breadcrumbs
 ******************************/
ol.breadcrumb {
    float: left;
    padding-top: 8px;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: bold;
    height: auto !important;
    background-color: transparent;
    border-bottom: none;
}

ol.breadcrumb li i {
    padding-right: 3px;
}

ul.main-navigation-menu {
    margin-bottom: 50px !important;
}

.breadcrumb > .active {
    color: #000 !important;
}

.breadcrumb > li + li:before {
    color: #000 !important;
}

.mw-body {
    margin-bottom: 50px !important;
    margin-left: 12px !important;
}

/*******************************
 * Meta Object definitions
 ******************************/
div.metaObjectBox {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

div.metaObjectOptions {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

div.metaObjectOptions a.btn {
    margin-bottom: 2px;
}

div.metaObjectOptionsBg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

div.metaObjectOptionsContent {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
}

span.modifiedText {
    display: none;
    font-size: 12px;
    font-weight: normal;
}

span.metaObjectModified {
    display: inline;
}

/* Nature table design */

.nature strong {
    font-weight: bold;
}

.nature em {
    font-style: italic;
}

.nature table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    width: 900px;
    border: 1px solid #AAA !important;
}

.nature th {
    background: #454545;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    /*text-shadow: 0 1px 0 #000;  */
    text-shadow: none !important;
}

.nature th:after {
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.nature th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

/* Nature table design */

.nature strong {
    font-weight: bold;
}

.nature em {
    font-style: italic;
}

.nature th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.nature td {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #AAA;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.nature td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.nature td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

.nature tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

.nature tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

.nature tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

/*.nature tbody:hover tr:hover td {*/
/*background-color: #878787;*/
/*color: white;*/
/*}*/

div.metaObjectOptionsContent button.btn-default {
    float: none;
    display: block !important;
    margin-bottom: 3px;
}

form#customizeExistingObject label {
    font-weight: bold !important;
}

.wikitable {

}

.wikitable p {
    margin-left: 5px;
    margin-bottom: 0px;
}

.thead {
    padding-left: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.wikitable td {
    padding: 2px 5px 2px 5px;
}

.icons-text {
    line-height: 28px !important;
}

/*******************************
 * My Object Page Styles
 ******************************/

.clickableElement {
    cursor: pointer;
}

div.userObjectActions {
    font-size: 12px;
}

span.userObjectModificationActions, span.modificationActionButtons,
div.userObjectActions span.actionButtons {
    cursor: pointer;
    text-decoration: none;
}

span.userObjectModificationActions span.modificationActionButtons:hover,
div.userObjectActions span.actionButtons:hover {
    text-decoration: underline;
}

div.userObjectActions span.actionButtons.disabled {
    color: #76a6be;
}

div.userObjectActions span.actionButtons.disabled:hover {
    text-decoration: none;
    cursor: default;
}

div.modificationBox {
    font-size: 14px;
    font-style: italic;
    padding-top: 10px;
}

div.userObjectModificationRow {
    padding-bottom: 5px;
}

.customwiki {
    font-size: 12px;
    border: 2px solid #AAA;
}

.customwiki tr, .customwiki td {
    border: 2px solid #AAA;
}

.customwiki th {
    text-align: center;
}

span.formProcessing img {
    width: 32px;
    height: 32px;
    mafin: 0px 5px;
}

.hiddenbord {
    border-right-style: none !important;
}

.hiddencell {
    border-left-style: none !important;
}

.hiddencell p {
    visibility: hidden;
}

.hiddenspan {
    visibility: hidden;
}

form label {
    font-weight: bold !important;
}

img.modifyUserObjectImage {
    margin-top: 10px;
}

div.userObjectActions span.actionButtonsObjects {
    cursor: pointer;
    text-decoration: none;
}

div.userObjectActions span.actionButtonsactionButtonsObjects:hover {
    text-decoration: underline;
}

div.userObjectActions span.actionButtonsactionButtonsObjects.disabled {
    color: #76a6be;
}

div.userObjectActions span.actionButtonsactionButtonsObjects.disabled:hover {
    text-decoration: none;
}

.sortable {
    cursor: pointer;
}

.sortable:focus {
    outline: none !important;
}

.mapTable {
    font-family: "Open+Sans", sans-serif;
    vertical-align: middle !important;
    color: #666;
    background: #fbfbfb;
    border: 1px solid #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 3px #d1d1d1;
    width: 1600px !important;

}

.mapLarge {
    font-size: 11px !important;

}

.tableThead {
    color: #fff;
    border-top: 1px solid #000 !important;
}

.mapTable tr:hover {
    background: #f2f2f2;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border-radius: 6px;
    border-left: 0px;
}

.table-curved th {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.table-curved th:first-child {
    border-radius: 6px 0 0 0;
    border-bottom: 1px solid #000;
}

.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}

.table-curved th:only-child {
    border-radius: 6px 6px 0 0;
}

.table-curved td {
    border-right: none;
}

.table-curved td:last-child {
    border-right: 1px solid #000;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

span.yesModified {
    display: none;
}

span.notModified {
    display: inline-block;
}

span.metaObjectModified.yesModified {
    display: inline-block;
}

span.metaObjectModified.notModified {
    display: none;
}

ul.main-navigation-menu > li a > i {
    color: #fff !important;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
}

ul.main-navigation-menu li > ul.sub-menu > li a {
    color: #000 !important;
}

/***** Begin Related Pages *****/
div.relPageCategoryBox {
    padding-bottom: 10px;
}

div.relPageCategoryName {
    height: 30px;
    background-color: rgb(31, 153, 45);
    color: white;
    padding-left: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;
    text-transform: uppercase;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

div.relPageBox img {
    width: 30px;
    height: 30px;
}

div.relPageTitleBox span.relPageTitle {
    font-weight: bold;
}

div.relPageTitleBox span.tooltips {
    display: block;
    float: left;
    margin-right: 6px;
}

div.relPageDescription {
    margin-left: 37px !important;
}

/***** End Related Pages *****/

/***** Begin BPMN 2.0 versus eXtended BPMN (X-BPMN)  *****/
table.bpmn20 tr td{
    vertical-align: top;
}
table.bpmn20 th,
table.bpmn20 td,
table.bpmn20{
    border: none;
}
table.bpmn20,
table.bpmn20 td,
table.bpmn20 th{
    border: 1px solid black;

}
table.bpmn20 td{
    border-bottom: none !important;
}
table.bpmn20 tbody tr.noTopBottomBorders td {
    border-top: none !important;
    border-bottom: none !important;


}
table.bpmn20 td img{
    margin-top: 6px;
}
div.relPageBox img.activitiesImg{
    width: auto !important;
    height: auto !important;
    display:block;
}
/***** Begin BPMN 2.0 versus eXtended BPMN (X-BPMN)  *****/

div.relPageBox img.activitiesIcon{
    width: 50px;
    height: 34px;
}
div.relPageBox  span.activitiesTitle{
    line-height:34px !important;
}

div.smnTitleBox{
    color: white;
    border-radius: 2px;
    padding-left: 5px;
    height: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;
}

/*************************************
*********** Media Queries ************
**************************************/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {

    .nature table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 11px;
        line-height: 18px;
        text-align: left;
        border: 1px solid #AAA !important;
    }

    .nature th {
        background: #454545;
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 6px 8px;
        position: relative;
        /*text-shadow: 0 1px 0 #000;  */
        text-shadow: none !important;
    }
    div.navbar-tools div.dropdown > a {
        padding:6px 8px;
    }
    div.navbar-tools div.dropdown > a, div.navbar-tools div.dropdown button  {
        font-size: 14px !important;
    }
    .navbar-tools > ul > li > a {
        font-size: 14px;
        padding: 15px 10px 10px;
    }

}
@media only screen and (max-width: 1280px) {
    div.navbar-tools div.dropdown > a {
        padding:6px;
    }
    div.navbar-tools div.dropdown > a, div.navbar-tools div.dropdown button  {
        font-size: 13px !important;
    }
    .navbar-tools > ul > li > a {
        font-size: 13px;
        padding: 14px 8px 10px;
    }
}
@media only screen and (max-width: 1150px) {
    .nature table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 8.5px;
        line-height: 18px;
        text-align: left;
        border: 1px solid #AAA !important;
    }

    body {
        font-size: 15px !important;
    }

    ul.nav.navbar-nav li:hover div.header-menu,
    ul.nav.navbar-nav li div.header-menu {
        padding-top: 15px !important;
        padding-bottom: 16px !important;
    }
    div.navbar-tools div.dropdown > a {
        padding:6px;
    }
    div.navbar-tools div.dropdown > a, div.navbar-tools div.dropdown button  {
        font-size: 12px !important;
    }
    .navbar-tools > ul > li > a {
        font-size: 12px;
        padding: 14px 8px 10px;
    }
}

@media only screen and (max-width: 1060px) and (min-width: 768px) {
    body {
        font-size: 13px !important;
    }
    div.navbar-tools div.dropdown > a, div.navbar-tools div.dropdown button  {
        font-size: 11px !important;
    }

    .navbar-tools > ul > li > a {
         font-size: 13px;
         padding: 12px 6px;
     }
    ul.nav.navbar-nav li:hover div.header-menu,
    ul.nav.navbar-nav li div.header-menu {
        padding-top: 17px !important;
        padding-bottom: 14px !important;
    }

    .footer {
        font-size: 10px;
    }


    div.navbar-tools div.dropdown > a {
        padding:6px;
    }
}


div.relPageBusinessCategoryName {
    height: 30px;
    background-color: rgb(11, 152, 214);
    color: white;
    padding-left: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;
    text-transform: uppercase;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}



