<div class="modal-content">
    <form id="modifyUserObjectForm" name="modifyUserObjectForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="cancelObjectModify()" aria-hidden="true">×</button>
            <h4 class="modal-title">[['modify_object' | translate]]</h4>
        </div>
        <!-- End Modal Header-->

        <!-- Begin Modal Content-->
        <div class="modal-body">
            <!-- Begin Name Field -->
            <div class="row">
                <div class="col-md-1 text-center">
                    <img data-ng-src="images/meta_objects/[[user_object.icon]]" class="modifyUserObjectImage" width="50px" height="auto">
                </div>
                <div class="col-md-5">
                    <div class="form-group"
                         data-ng-class="{'has-error':modifyUserObjectForm.userObjectName.$error.required}">
                        <label for="userObjectName">[['user_object_name'| translate]]</label>
                        <input type="text" class="form-control" name="userObjectName" id="userObjectName"
                               data-ng-model="user_object.name" data-ng-required="true"/>
                    </div>
                </div>
            </div>
            <!-- End Name Field -->
            <!-- Begin Object Types Fields -->
            <div class="row">
                <div class="col-md-4">
                    <!-- Begin Stereotype field -->
                    <div class="form-group">
                        <label for="stereotypeField">[['user_object_stereotype'| translate]]</label>
                        <select name="stereotype" id="stereotypeField" class="form-control"
                                data-ng-model="user_object.stereotype_id">
                            <option value="" data-ng-selected="user_object.stereotype_id==null">---</option>
                            <option value="[[stereotype.id]]"
                                    data-ng-selected="user_object.stereotype_id==stereotype.id"
                                    data-ng-repeat="stereotype in user_object.meta_object.stereotype">
                                [[stereotype.name]]
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End Stereotype field -->
                <!-- Begin Type field -->
                <div class="col-md-4">
                    <div class="form-group" data-ng-show="(user_object.stereotype_id!=null || user_object.stereotype_id!='') && types.length>0">
                        <label for="typeField">[['user_object_type'| translate]]</label>
                        <select name="type" id="typeField" class="form-control" data-ng-model="user_object.type_id">
                            <option value="" data-ng-selected="user_object.type_id==null">---</option>
                            <option value="[[type.id]]"
                                    data-ng-selected="user_object.type_id==type.id"
                                    data-ng-repeat="type in types">[[type.name]]
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End Type field -->
                <!-- Begin Subtype field -->
                <div class="col-md-4">
                    <div class="form-group" data-ng-show="(types.length>0 && (user_object.type_id!=null ||user_object.type_id!='')) && subtypes.length>0">
                        <label for="subtypeField">[['user_object_subtype'| translate]]</label>
                        <select name="subtype" id="subtypeField" class="form-control"
                                data-ng-model="user_object.subtype_id">
                            <option value="" data-ng-selected="user_object.subtype_id==null">---</option>
                            <option value="[[subtype.id]]"
                                    data-ng-selected="user_object.subtype_id==subtype.id"
                                    data-ng-repeat="subtype in subtypes">[[subtype.name]]
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End Subtype field -->
            </div>
        </div>
        <!-- End Object Types Fields -->
        <!-- End Modal Content-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="formProcessing" ng-show="formProcessing"><img
                                src="/skins/lead/resources/images/ajax-loader.gif" alt="loading..."/></span>
                        <button class="btn btn-primary" ng-click="modifyUserObject(user_object)"
                                ng-disabled="!modifyUserObjectForm.$valid">[['modify' | translate]]
                        </button>
                        <button class="btn btn-warning" ng-click="cancelObjectModify()">[['cancel' | translate]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>