<div class="modal-content">
    <form id="revertForm" name="revertForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="cancelRevertModification()" aria-hidden="true">×</button>
            <h4 class="modal-title">[['confirm_revert' | translate]]</h4>
        </div>
        <!-- End Modal Header-->

        <!-- Begin Modal Content-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="formProcessing" ng-show="formProcessing"><img src="/skins/lead/resources/images/ajax-loader.gif" alt="loading..."/></span>
                        <button  class="btn btn-primary" ng-click="revertUserObjectModification(id)">[['revert' | translate]]</button>
                        <button class="btn btn-warning" ng-click="cancelRevertModification()">[['cancel' | translate]]</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>