@charset "utf-8";
/* CSS Document */

/******************************************************************************/
/* RESET **********************************************************************/
/******************************************************************************/

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    /* vertical-align: baseline; */
}

body                    { line-height: 1.3em; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6  { clear: both; font-weight: normal; }
ol, ul                  { list-style: none; }
blockquote              { quotes: none; }
blockquote:before,
blockquote:after        { content: ''; content: none; }
del                     { text-decoration: line-through; }
table                   { border-collapse: collapse; border-spacing: 0; }
a img                   { border: none; }
img                     { display: block; border: none; }

